<div class="hero">  
  <br />
  <br />
  <div class="hero-box col-8 offset-2 text-center">
    <br />
    <h2>CouchToSummit will help you reach your hiking and climbing goals!</h2> 
    <br />
    <h3>Set a hike or summit as your goal, and then visit your goal dashboard to see your personalized plan.</h3>
    <br />
    <%= link_to 'Choose a Trail', trails_path, class: 'btn btn-info' %>
    <br />
    <br />
  </div>
</div>