<h1>Find a Hike</h1>

<% @trails.each do |trail| %>
  <h2><%= link_to trail.name, trail_path(trail) %></h2>
  <ul>
    <li><%= trail.length %>mi</li>
    <li><%= trail.elevation_gain %>ft</li>
  </ul>
<% end %>