@font-face {
    font-family: 'architects_daughterregular';
    src: font_url('architectsdaughter-webfont.woff2') format('woff2'),
         font_url('architectsdaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}